# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Best-Game.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Creations\Game\ADANFT\Best-Game\.idea\.idea.Best-Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
